<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Amazing Race IT Spinning Wheel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
    <div class="navigation">
        <a href="{{ url_for('admin') }}">Go to Admin Panel</a>
    </div>
        <h1>The Amazing IT Race</h1>
        <h2>What will you get!</h2>
        <div id="wheel-container">
            <div id="wheel"></div>
            <div id="spinner"></div>
        </div>
        <button id="spin-button">Test my Luck</button>
        <p id="result-message"></p>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>